# Ignore virtual environment
venv/

# Ignore environment file
.env

# Ignore logs
logs/

# Ignore Python bytecode caches
__pycache__/
cases/__pycache__/
core/__pycache__/

.history/

# static/

alg_test.py
