{% extends 'base.html' %}

{% block content %}
<h1>About Us</h1>

<div class="about-section">
    <h2>{{ about_message.title }}</h2>
    <div class="about-content">
        {{ about_message.content|safe }}
    </div>
    
{#    {% for message in about_message %}#}
{#        <h2>{{ message.title }}</h2>#}
{#        <div class="about-content">#}
{#            {{ message.content|safe }}#}
{#        </div>#}
{#        <div class="about-images">#}
{#            {% for image in message.images.all %}#}
{#                <figure>#}
{#                    <img src="{{ image.image.url }}" alt="{{ image.image_alt }}">#}
{#                    <figcaption>{{ image.image_alt }}</figcaption>#}
{#                </figure>#}
{#            {% endfor %}#}
{#        </div>#}
{#    {% endfor %}#}

</div>

{% endblock %}
