{% extends 'base.html' %}

{% block content %}
<div id="caseContainer">
    {% include 'cases/partials/case_preview.html' %}
</div>
{% endblock %}

{#{% block scripts %}#}
{#<script>#}
{#    document.body.addEventListener('htmx:afterSwap', function(event) {#}
{#       if (event.detail.target.id === 'caseContainer') {#}
{#           const detailsButton = document.getElementById('toggleDescription');#}
{#           if (detailsButton) {#}
{#               detailsButton.textContent = 'Details';#}
{#               document.querySelector('.description').style.display = 'none';#}
{#           }#}
{#       }#}
{#    });#}
{#</script>#}
{#{% endblock %}#}