<div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2545.2618178997946!2d30.445521676956766!3d50.361672293751575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c85028a757cb%3A0x880096f64c9cd48!2sAkademika%20Hlushkova%20Ave%2C%2067%2C%20Kyiv%2C%20Ukraine%2C%2002000!5e0!3m2!1sen!2sde!4v1728986310009!5m2!1sen!2sde" 
            width="600" 
            height="450" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>


{#<style>#}
{#  html,#}
{#  body {#}
{#    height: 100%;#}
{#    margin: 0;#}
{#  }#}
{##}
{#  gmpx-store-locator {#}
{#    width: 100%;#}
{#    height: 100%;#}
{##}
{#    /* These parameters customize the appearance of Locator Plus. See the documentation at#}
{#       https://github.com/googlemaps/extended-component-library/blob/main/src/store_locator/README.md#}
{#       for more information. */#}
{#    --gmpx-color-surface: #fff;#}
{#    --gmpx-color-on-surface: #212121;#}
{#    --gmpx-color-on-surface-variant: #757575;#}
{#    --gmpx-color-primary: #1967d2;#}
{#    --gmpx-color-outline: #e0e0e0;#}
{#    --gmpx-fixed-panel-width-row-layout: 28.5em;#}
{#    --gmpx-fixed-panel-height-column-layout: 65%;#}
{#    --gmpx-font-family-base: "Roboto", sans-serif;#}
{#    --gmpx-font-family-headings: "Roboto", sans-serif;#}
{#    --gmpx-font-size-base: 0.875rem;#}
{#    --gmpx-hours-color-open: #188038;#}
{#    --gmpx-hours-color-closed: #d50000;#}
{#    --gmpx-rating-color: #ffb300;#}
{#    --gmpx-rating-color-empty: #e0e0e0;#}
{#  }#}
{#</style>#}
{#<script>#}
{#  const CONFIGURATION = {#}
{#    "locations": [#}
{#      {"title":"Akademika Hlushkova Ave, 67","address1":"Akademika Hlushkova Ave","address2":"67, Kyiv, Ukraine, 02000","coords":{"lat":50.36164836695629,"lng":30.448187795106495},"placeId":"ChIJy1enKFDI1EARSM3JZG8JgAg"}#}
{#    ],#}
{#    "mapOptions": {"center":{"lat":38.0,"lng":-100.0},"fullscreenControl":true,"mapTypeControl":false,"streetViewControl":false,"zoom":4,"zoomControl":true,"maxZoom":17,"mapId":""},#}
{#    "mapsApiKey": "YOUR_API_KEY_HERE",#}
{#    "capabilities": {"input":false,"autocomplete":false,"directions":false,"distanceMatrix":false,"details":false,"actions":false}#}
{#  };#}
{##}
{#</script>#}
{#<script type="module">#}
{#  document.addEventListener('DOMContentLoaded', async () => {#}
{#    await customElements.whenDefined('gmpx-store-locator');#}
{#    const locator = document.querySelector('gmpx-store-locator');#}
{#    locator.configureFromQuickBuilder(CONFIGURATION);#}
{#  });#}
{#</script>#}
{#</head>#}
{#<body>#}
{#<!-- Please note unpkg.com is unaffiliated with Google Maps Platform. -->#}
{#<script type="module" src="https://unpkg.com/@googlemaps/extended-component-library@0.6"></script>#}
{##}
{#<!-- Uses components from the Extended Component Library; see#}
{#     https://github.com/googlemaps/extended-component-library for more information#}
{#     on these HTML tags and how to configure them. -->#}
{#<gmpx-api-loader key="YOUR_API_KEY_HERE" solution-channel="GMP_QB_locatorplus_v10_c"></gmpx-api-loader>#}
{#<gmpx-store-locator map-id="DEMO_MAP_ID"></gmpx-store-locator>#}
{#</body>#}