<button id="scroll-to-top"
        class="btn btn-light rounded-circle position-fixed bottom-0 end-0 m-3 border"
        style="display: none; width: 50px; height: 50px; box-shadow: 0 2px 10px rgba(0,0,0,0.1);"
        onclick="window.scrollTo({top: 0, behavior: 'smooth'}); return false;">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
    </svg>
</button>