{% extends "admin/change_form.html" %}
{% load static %}

{% block field_sets %}
<div id="vehicle-form">
    {% for fieldset in adminform %}
    <fieldset class="module aligned {{ fieldset.classes }}">
        {% for line in fieldset %}
        {% for field in line %}
        <div class="form-row field-{{ field.field.name }}">
            {{ field.field.label_tag }}
            {{ field.field }}
            {% if field.field.help_text %}
                <div class="help">{{ field.field.help_text }}</div>
            {% endif %}
        </div>
        {% endfor %}
        {% endfor %}
    </fieldset>
    {% endfor %}
</div>
{% endblock %}

{% block submit_buttons_bottom %}{{ block.super }}{% endblock %}