{% load static %}

<header class="py-3 mb-4 border-bottom fixed-top bg-white">
    <div class="container d-flex flex-wrap justify-content-center">
        <a href="#" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
            <img src="{% static 'images/company_logo.png' %}" alt="Company Logo" class="me-2" width="40" height="32">
            <span class="fs-4">Company Name</span>
        </a>
        <nav aria-label="Main navigation">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a href="#home-section"
                       class="nav-link"
                       hx-get="#home-section"
                       hx-target="body"
                       hx-swap="scroll:top"
                       hx-trigger="click"
                       hx-push-url="true">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#services-section"
                       class="nav-link"
                       hx-get="#services-section"
                       hx-target="body"
                       hx-swap="scroll:top"
                       hx-trigger="click"
                       hx-push-url="true">Services</a>
                </li>
                <li class="nav-item">
                    <a href="#about-section"
                       class="nav-link"
                       hx-get="#about-section"
                       hx-target="body"
                       hx-swap="scroll:top"
                       hx-trigger="click"
                       hx-push-url="true">About</a>
                </li>
                <li class="nav-item">
                    <a href="#cases-section"
                       class="nav-link"
                       hx-get="#cases-section"
                       hx-target="body"
                       hx-swap="scroll:top"
                       hx-trigger="click"
                       hx-push-url="true">Cases</a>
                </li>
                <li class="nav-item">
                    <a href="#footer-contacts"
                       class="nav-link"
                       hx-get="#footer-contacts"
                       hx-target="body"
                       hx-swap="scroll:top"
                       hx-trigger="click"
                       hx-push-url="true">Contacts</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
{##}
{#<style>#}
{#    html {#}
{#        scroll-padding-top: 80px; /* Adjust based on your header height */#}
{#    }#}
{#    .nav-link.active {#}
{#        background-color: #007bff !important;#}
{#        color: white !important;#}
{#    }#}
{#</style>#}
